*.lock
.vs/*
/vorpcore_cl/obj
/vorpcore_cl/obj/**
/vorpcore_cl/bin
/vorpcore_cl/bin/**
/vorpcore_sv/bin
/vorpcore_sv/bin/**
/vorpcore_sv/obj
/vorpcore_sv/obj/**
/.vs
/.idea
/Vorp.Core.Server/obj
/Vorp.Core.Server/bin/Server/netstandard2.0
/Vorp.Core.Client/obj/Debug
/Vorp.Core.Client/bin
/Vorp.Core.Client/obj/Client
