*.lock
.vs/*
/vorpcore_cl/obj
/vorpcore_cl/obj/**
/vorpcore_cl/bin
/vorpcore_cl/bin/**
/vorpcore_sv/bin
/vorpcore_sv/bin/**
/vorpcore_sv/obj
/vorpcore_sv/obj/**
/.vs
/.idea
/Vorp.Core.Server/bin
/Vorp.Core.Server/bin/**
/Vorp.Core.Server/obj
/Vorp.Core.Server/obj/**
/Vorp.Core.Client/bin
/Vorp.Core.Client/bin/**
/Vorp.Core.Client/obj
/Vorp.Core.Client/obj/**
*.zip
