build:
  project: VORP_Core.sln
version: 1.0.{build}
pull_requests:
  do_not_increment_build_number: true
clone_script:
  - ps: >-
      if(-not $env:APPVEYOR_PULL_REQUEST_NUMBER) {
        git clone -q --branch=$env:APPVEYOR_REPO_BRANCH https://github.com/$env:APPVEYOR_REPO_NAME.git $env:APPVEYOR_BUILD_FOLDER
        cd $env:APPVEYOR_BUILD_FOLDER
        git checkout -qf $env:APPVEYOR_REPO_COMMIT
      } else {
        git clone -q https://github.com/$env:APPVEYOR_REPO_NAME.git $env:APPVEYOR_BUILD_FOLDER
        cd $env:APPVEYOR_BUILD_FOLDER
        git fetch -q origin +refs/pull/$env:APPVEYOR_PULL_REQUEST_NUMBER/merge:
        git checkout -qf FETCH_HEAD
      }
  - cmd: git submodule update --init --recursive
